**/bin
**/obj
**/pkg
**/pkgobj
*.suo
*.user
/packages
**/node_modules
**/bower_components
SmartNotifications/settings.js
SmartNotifications/App/build/*.*
SmartNotifications/App/jslink/color-field/build/*.*
SmartNotifications/HostWeb/build/*.*
