<!DOCTYPE html>
<html ng-app="SN.app">
<head>
	<title>Smart Notifications App</title>

	<link rel="stylesheet" type="text/css" href="build/sn.app.external.css?v=<%= version %>" />
	<link rel="stylesheet" type="text/css" href="build/sn.app.css?v=<%= version %>" />

</head>
<body class="ms-backgroundImage ms-backgroundImage">
	<div ng-include src="'templates/chrome.control.html'"></div>

	<div id="sn-app">
		<div ng-controller="SideNavCtrl">
			<eeh-navigation-sidebar menu-name="'SideNav'" search-input-is-visible="false">
					<ui-view></ui-view>
			</eeh-navigation-sidebar>
		</div>
	</div>

	<script type="text/javascript" src="/_layouts/15/MicrosoftAjax.js"></script>
	<script type="text/javascript" src="/_layouts/15/sp.runtime.js"></script>
	<script type="text/javascript" src="/_layouts/15/sp.js"></script>
	<script type="text/javascript" src="build/sn.app.external.js?v=<%= version %>"></script>
	<script type="text/javascript">
		var SN = SN || {};
		SN.version = "<%= version %>";
		SN.appUrl = "<%= appUrl %>";
	</script>
	<script type="text/javascript" src="sp/chrome.loader.js?v=<%= version %>"></script>
	<script type="text/javascript" src="build/sn.app.js?v=<%= version %>"></script>
</body>
</html>