<div id="chrome_ctrl_placeholder" ng-controller="ChromeNavCtrl">
	<div id="chromeControl_navigation">
		<div id="chromeControl_topheader" class="ms-core-defaultFont">
			<div id="suiteBar" class="ms-dialogHidden">
				<div id="suiteBarLeft">
					<div id="suiteBarLeft1">
						<a id="chromeControl_topheader_siteurl" href="http://sp2013dev/sites/dev11/" class="ms-core-suiteLink-a" target="_top">
							<span id="chromeControl_topheader_sitetitle">Test</span>
						</a>
					</div>
					<div id="suiteBarLeft2">
						<img id="chromeControl_topheader_arrowimage" src="http://sp2013dev/sites/dev11/_layouts/15/images/titleseparatordark.png" alt="Cravat Icon">
					</div>
					<div id="suiteBarLeft3">
						<a id="chromeControl_topheader_apptitlelink" href="http://app-ff155d312cfb84.apps.dev.mastek.com/sites/dev111/ChromeControlCrossDomainREST" class="ms-core-suiteLink-a" target="_top">
							<span id="chromeControl_topheader_apptitle">Smart Notifications</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="chromeControl_bottomheader">
			<div class="ms-tableRow">
				<div id="chromeControl_bottomheader_appicon">
					<img class="ms-siteicon-img" src="../Images/AppIcon.png" alt="App Icon">
				</div>
				<div id="suiteBarLeft4" tabindex="0" >
					<div id="chromeControl_bottomheader_apptitle" class="ms-core-pageTitle">Smart Notifications App</div>
				</div>
			</div>
		</div>
	</div>
</div>