<div>
	Please, contact me in case: <br>&nbsp;&nbsp;&nbsp;- if you need custom SharePoint or Office365 development or consultancy<br>&nbsp;&nbsp;&nbsp;- if you want to propose a new feature for the app, found a bug or simply want to say "Wow! Cool app!" :)<br>
	<br>contact me at <a href="mailto:sergeev.srg@gmail.com">sergeev.srg@gmail.com</a> or Skype <i>sergei-s-a</i> or <a target="_blank" href="https://www.linkedin.com/in/sergeisergeev">LinkedIn</a>
	<br>
	<br>In case of bug, please provide following information: <br>&nbsp;&nbsp;&nbsp;1. Your browser and browser version.<br>&nbsp;&nbsp;&nbsp;2. Detailed description how I can reproduce the error.<br>&nbsp;&nbsp;&nbsp;3. Data that you used to reproduce the error.<br>I will do my best to fix it asap and release an update.
</div>