<div>
	<h1>
		Smart Notification App is {{vm.status}}
	</h1>

	<div>
		<br />
		<h2> In order to enable Smart Notifications on your host web site, please do the following things:</h2>
		<br />
		<p>
			<h3>
				1. Navigate to this page - <a class="btn btn-default" target="_blank" href="{{vm.manageStatus}}">Manage App</a>
			</h3>
		</p>
		<p>
			<h3>2. Click on the "Edit the page" under the top right corner:</h3>
			<br />
			<img src="../Images/edit_page.png" />
		</p>
		<p>
			<h3>3. Find "Manage Smart Notifications" web part on the page and edit the web part:</h3>
			<br />
			<img src="../Images/edit_wp.png" />
		</p>
		<p>
			<h3>4. Insert below url into the "Content Link" property: </h3>
			<br />
		<p><code>{{vm.scriptContentUrl}}</code></p>
		<img src="../Images/past_url.png" />
		</p>
		<p>
			<h3>5. Click "OK" under web part settings.</h3>
			<br/>
			<img src="../Images/ok.png" />
		</p>
		<p>
			<h3>6. Click on "Stop Editing" at the top left corner:</h3>
			<br />
			<img src="../Images/stop_edit.png" />
		</p>
		<p>
			<h3>7. Now you can switch Smart Notifications ON or OFF</h3>
		</p>
	</div>
</div>